


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input{
	background-color: white;
}
input:focus-visible {
	outline: 0;
}

.main {
	background-color: #2980b9;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	

}

.box {
	min-width: 40%;
	padding: 10px;
	box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
	background-color: #2980b9;
	border-radius: 4px;
	margin-top: 10px;
}

#pass-box {
    width: 96%;
    display: block;
    background-color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 4px;
}

.row {
	width: 100%;
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	color: white;
	font-size: 20;

}

label {
	user-select: none;
}
.left{
	font-family: 'Bona Nova', serif;
	font-size: 20px;
}

#btn {
	width: 70%;
	font-size: 20px;
	outline: 0;
	border: 0;
	padding: 10px;
	background-color: #304b66;
	color: white;
	margin-top: 10px;
	margin-left: 78px;
	border-radius: 10px;
	cursor: pointer;
}

#btn:hover{
    background-color: white;
    color: #304b66;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: #3498db;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #2980b9;
    border-radius: 2px;
    margin-top: 10px;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
#btn:hover{
	background-color: #123e5c;
	color:white;
}*/